<% content_for :page_title, "Index"%>

<div class="section">
    <div class="container">
        <% @categories.each do |category|%>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">
                                <%= link_to category.name, category %>
                            </p>
                        </div>
                    </div>
                    <div class="content">
                        <%= category.details %>
                    </div>
                    <div class="comment-count">
                        <span class="tag is-rounded">
                            <%= category.details %>
                        </span>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>